<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>

<body>
	<nav th:replace="layouts/base-layout :: nav"></nav>
	
	    <div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider4">
				<ul class="" id="bxslider-home4">
					<li>
						<img src="img/tiendaropa.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								 Anunciate <span class="primary"><strong>Aqui</strong></span>
							</h2>
							<h4 class="caption subtitle">En 2 simples pasos</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Registrarme</a>
						</div>
					</li>
					<li><img src="img/categoriamujer.jpg" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Para Damas <span class="primary">50% <strong>off</strong></span>
							</h2>
							<h4 class="caption subtitle">con la mejor calidad</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Ver Mas</a>
						</div><!--1163*370-->
					</li>
					<li><img src="img/h4-slide3.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Apple <span class="primary">Store <strong>Ipod</strong></span>
							</h2>
							<h4 class="caption subtitle">Select Item</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
						</div>
					</li>
					<li><img src="img/h4-slide4.png" alt="Slide">
						<div class="caption-group">
						  <h2 class="caption title">
								Apple <span class="primary">Store <strong>Ipod</strong></span>
							</h2>
							<h4 class="caption subtitle">& Phone</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- ./Slider -->
    </div> <!-- End slider area -->
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Ropas para Damas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Buscar Ropa</h2>
                        <form action="">
                            <input type="text" placeholder="Nombre de la ropa">
                            <input type="submit" value="Buscar">
                        </form>
                    </div>
                    
                  
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Categorias</h2>
                        <ul>
                            <li><a href="">Blusas</a></li>
                            <li><a href="">Faldas</a></li>
                            <li><a href="">Casacas</a></li>
                            <li><a href="">Poleras</a></li>
                            <li><a href="">Vestidos</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-9">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="">Home</a>
                            <a href="">Ropa Mujer</a>
                        </div>   
                            <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="latest-product">
                        <div class="product-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/blusa1.jpg" alt="">
                                    <div class="product-hover">                                        
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver </a>
                                    </div>
                                </div>
                                
                                <h2><a href="single-product.html">Blusa Azul Hans</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>$30.00</ins>  
                                    <span > Disponibles 15</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/casaca3.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Casaca sin Mangas bage</h2>
                                <div class="product-carousel-price">
                                    <ins>$35.5</ins> <del>$40.00</del>
                                    <span > Disponibles 4</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/vestido3.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Vestido Celeste poliester</h2>
                                <div class="product-carousel-price">
                                    <ins>$25.5</ins> 
                                    <span > Disponibles 10</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/polera1.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Polera celeste cielo</h2>
                                <div class="product-carousel-price">
                                    <ins>$19.9</ins> 
                                    <span > Disponibles 30</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/vestido2.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Vestido Azul Marino</h2>
                                <div class="product-carousel-price">
                                    <ins>$25.9</ins> 
                                    <span > Disponibles 15</span>
                                </div> 
                            </div>
                             <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/jeans2.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Jeans Claro Sara</h2>
                                <div class="product-carousel-price">
                                    <ins>$75.9</ins> 
                                    <span > Disponibles 25</span>
                                </div> 
                            </div>
                            
                        </div>
                       
                </div>
            </div>
        </div>
    </div> <!-- End main content area --> 
    <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="latest-product">
                        <div class="product-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/blusa1.jpg" alt="">
                                    <div class="product-hover">                                        
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2><a href="single-product.html">Blusa Azul Hans</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>$30.00</ins>  
                                    <span > Disponibles 15</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/casaca3.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Casaca sin Mangas bage</h2>
                                <div class="product-carousel-price">
                                    <ins>$35.5</ins> <del>$40.00</del>
                                    <span > Disponibles 4</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/vestido3.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Vestido Celeste poliester</h2>
                                <div class="product-carousel-price">
                                    <ins>$25.5</ins> 
                                    <span > Disponibles 10</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/polera1.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Polera celeste cielo</h2>
                                <div class="product-carousel-price">
                                    <ins>$19.9</ins> 
                                    <span > Disponibles 30</span>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/vestido2.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Vestido Azul Marino</h2>
                                <div class="product-carousel-price">
                                    <ins>$25.9</ins> 
                                    <span > Disponibles 15</span>
                                </div> 
                            </div>
                             <div class="single-product">
                                <div class="product-f-image">
                                    <img src="temporal/ropamujer/jeans2.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Ver Detalles</a>
                                    </div>
                                </div>
                                
                                <h2>Jeans Claro Sara</h2>
                                <div class="product-carousel-price">
                                    <ins>$75.9</ins> 
                                    <span > Disponibles 25</span>
                                </div> 
                            </div>
                            
                        </div>
                       
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->                    
                        
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
	
	<footer th:replace="layouts/base-layout :: footer"></footer>
</body>
</html>